@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{
    --sombra: #ECEBDE
}

h1{
    text-transform: uppercase; /*tarefas ctrl alt seta baixo*/
}


.button{
    text-decoration: none;
    border: 1px solid #030000;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}

.button:hover{
   font-weight: bold;
}

.button-master{
    background-color: #A59D84;
    border: px solid #A59D84;
}

.button-danger{
    background-color: #ECEBDE;
    border: px solid #ECEBDE;
}

table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3rem;
}

table{
    width: 100%;
}

tbody > tr:nth-child(odd){
    background-color: #D7D3BF;
}

thead > tr{
    background-color: #A59D84;
}

tfoot > tr{
    background-color: #A59D84;
}

tbody > tr:hover{
    background-color: #A59D84;
    color: #000;
}
 tbody> tr> td:nth-child(2) :hover{
    background-color: #dcb338;
 }

 #start{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    padding: 5px;
    margin: 10px;
 }

.form-input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.form-input > label{
    font-weight: bold;
    margin-bottom: 10px;
}

.form-input > input{
    font-size: 1.5rem;
    border-radius: 10px;
}

.form-input > input:focus{
    border: 0px;
    outline: 1px solid #A59D84;
    background-color: var(--sombra);
}